.footer {
    background-color: #353541;
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p {
    margin: 0.25rem;
}
